html {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background: url('../images/body_bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-weight: 300;
  text-align: center;
  height: 100%;
}
b {
  font-weight: 500;
}
.height-100-percentage {
  height: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
.list-card {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: .25rem;
  /*border-color: #eee #eee #eee #ffc107;*/
  border-color: #eee #eee #eee #28a745;
  border-width: 1px 1px 1px 0.25rem;
  border-style: dashed dashed dashed solid;
}
.scroll-list {
  padding: 1.25rem;
  overflow-y: scroll;
  max-height: 200px;
  border-radius: .25rem;
  /*border-color: #eee #eee #eee #ffc107;*/
  border-color: #eee #eee #eee #28a745;
  border-width: 1px 1px 1px 0.25rem;
  border-style: dashed dashed dashed solid;
}
.table-left-column {
  font-weight: 400;
  text-align: right;
  width: 150px;
}
.table-right-column {
  text-align: left;
}
@media screen and (max-width: 768px ) {
  .text-ellipsis-sm {
    width: 150px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis
  }
}